@import '../vendors/egeo.ui.base/settings/settings';
@import '../vendors/egeo.ui.base/settings/settings.colors';
@import '../vendors/egeo.ui.base/settings/settings.fonts';
@import '../vendors/egeo.ui.base/settings/settings.icons';
@import '../vendors/egeo.ui.base/settings/settings.typography';
@import '../vendors/egeo.ui.base/settings/settings.layers';

@import '../vendors/egeo.ui.base/tools/tools.log';
@import '../vendors/egeo.ui.base/tools/tools.maps';
@import '../vendors/egeo.ui.base/tools/tools.layers';
@import '../vendors/egeo.ui.base/tools/tools.colors';
@import '../vendors/egeo.ui.base/tools/tools.typography';

@import '../vendors/egeo.ui.base/utils/utils.alignments';
@import '../vendors/egeo.ui.base/utils/utils.floats';
@import '../vendors/egeo.ui.base/utils/utils.text';
@import '../vendors/egeo.ui.base/utils/utils.clearfix';

@import '../vendors/egeo.ui.base/objects/media/objects.media';
@import '../vendors/egeo.ui.base/objects/box-shadow/objects.box-shadow';

@import '../vendors/egeo.ui.base/components/component/components.component';
@import '../vendors/egeo.ui.base/components/icon/components.icon';
@import '../vendors/egeo.ui.base/components/button/components.button';
@import '../vendors/egeo.ui.base/components/row/components.row';
@import '../vendors/egeo.ui.base/components/toolbar/components.toolbar';
@import '../vendors/egeo.ui.base/components/dropdown/components.dropdown';
@import '../vendors/egeo.ui.base/components/buttongroup/components.buttongroup';
@import '../vendors/egeo.ui.base/components/popover/components.popover';
@import '../vendors/egeo.ui.base/components/form/components.form';
@import '../vendors/egeo.ui.base/components/formgroup/components.formgroup';
@import '../vendors/egeo.ui.base/components/formcontrol/components.formcontrol';
@import '../vendors/egeo.ui.base/components/input/components.input';
@import '../vendors/egeo.ui.base/components/label/components.label';
@import '../vendors/egeo.ui.base/components/message/components.message';
@import '../vendors/egeo.ui.base/components/checkbox/components.checkbox';
@import '../vendors/egeo.ui.base/components/helpbox/components.helpbox';
@import '../vendors/egeo.ui.base/components/combobox/components.combobox';
@import '../vendors/egeo.ui.base/components/radiobutton/components.radiobutton';
@import '../vendors/egeo.ui.base/components/header/components.header';

#kss-node  {
	.kss-menu,
	.kss-menu-child {
		> .kss-menu-item {
			> a {
				> .kss-name {
					text-align: left;
				}
			}
		}
	}

	.kss-title {
		text-transform: none;
	}

	.kss-description {
		h1 {
			.egeo-c-header {
				border: 0;
				margin: 0;
			}
		}

		a {
			&.egeo-c-button {
				display: inline-block;

				&.egeo-c-button--main-1 {
					color: white;
				}

				&:hover {
					text-decoration: none;
				}
			}
		}

		code {
			color: #990000;
		}

		pre {
			code {
				color: black;
			}
		}
	}
}

.version {
	color: egeo-get-color(n5);
	font-size: egeo-get-font-size(body_small);
    text-align: right;
    margin-top: -30px;
    margin-right: 2px;
    font-family: egeo-get-font(open-sans);
}

h3 {
	color: egeo-get-color(a1) !important;
	font-weight: normal !important;
	margin: 60px 0 15px !important;
}

h4 {
	margin: 30px 0 15px !important;
}

h2 + h3,
h3 + h4 {
	margin: 15px 0 15px !important;
}

.icon-sample {
	border: 1px solid lightgray;
	box-sizing: border-box;
	display: inline-block;
	font-size: 3rem;
	margin: .5rem;
	padding: .5rem;
	text-align: center;
	width: 18%;
}

.compatibility {
	font-family: monospace;
	font-size: egeo-get-font-size(body_small);
	margin-top: 30px;
}

.icon__name {
    background-color: black;
    color: white;
    display: block;
    font-size: 1rem;
    margin: .5em -.5em -.5em;
    padding: .5em;
}

.tag {
	display: inline-block;
	font-size: egeo-get-font-size(body_small);
	margin: 0 .5rem 0 0;
    padding: .2em .7em;
    white-space: nowrap;

	&--default,
	&--tested,
	&--ok {
		background: egeo-get-color(s1);
		color: white;
	}

	&--type,
	&--warn {
		background: egeo-get-color(t1);
		color: white;
	}

	&--immutable,
	&--not-supported,
	&--untested,
	&--danger {
		background: egeo-get-color(s3);
		color: white;
	}
}

.kss-article {
	table {
		border-collapse: collapse;
		width: 100%;

		thead {
			border-bottom: 1px solid #997722;
			font-weight: normal;
			padding: 10px 0;

			td {
				text-align: center;
			}
		}

		td {
			padding: 5px 15px;
		}

		tr:nth-child(even) {
			background-color: #ececec;
		}
	}
}

.kss-section {
	@extend %st-u-clearfix;
}

.color-block {
	border: 1px solid #ececec;
	box-sizing: border-box;
	color: white;
	display: inline-block;
	min-height: 150px;
	position: relative;
	width: 100%;

	&__title {
		background: white;
		bottom: 0;
		box-sizing: border-box;
		color: black;
		min-height: 20px;
		padding: 1em;
		position: absolute;
		width: 100%;
	}
}

.typo-block {
	@include egeo-set-font-families;
	@include egeo-set-font-sizes;
	@include egeo-set-font-weights;
	@include egeo-set-line-heights;

	//border: 1px solid lightgray;
	box-sizing: border-box;
	display: inline-block;
	//padding: 5px;
	text-align: left;
	width: 100%;
}

.text {}

@each $color-name, $color in $egeo-colors {
	.color-block--#{$color-name} {
		background: $color;
	}

	.text--#{$color-name} {
		color: $color;
	}
}

.c-col {
	box-sizing: border-box;
	display: inline-block;
	position: relative;

	@for $i from 1 through 12 {
		&--#{$i} {
			width: percentage( $i / 12 );
		}
	}

	&--vertical-centered {
		vertical-align: middle;
	}

	&--vertical-top {
		vertical-align: top;
	}
}

.u-float-right {
	float: right;
}
